// COLORS
$colorDarkBlue: #113A5B;
$colorOrange: #E38484;
$colorDarkOrange: #CF524D;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrey: #B0B0B0;
$colorLightGrey: #dfdfdf;
$colorDeepRed: #84333F;

// LAYOUT
$headerHeight: 12vh;
$mainHeight: 83vh;
$footerHeight: 5vh;
// $headerHeight: 12%;
// $mainHeight: 83%;
// $footerHeight: 5%;


// FONT
$defaultFontSize: 1.6rem;

// TRANSITIONS
$navShrinkTime: .3s;
