// COLORS
$colorDarkBlue: #113A5B;
$colorOrange: #E38484;
$colorDarkOrange: #CF524D;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrey: #B0B0B0;
$colorDeepRed: #84333F;



// FONT
$defaultFontSize: 1.6rem;
