.header-bar {

  .mq-mobile & {
    box-shadow: none;
    border-bottom-width: 2px;
  }

  width: 100vw;
  height: 12vh;
  background-color: $colorWhite;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: $colorDarkBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 3px 3px rgba(black, .15);


  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__text-box {
    margin-right: 2rem;
    //font-size: 2.6rem;
    font-size: 4vh;
  }

  &__text {
    &--front {
      color: $colorDarkBlue;
    }

    &--back {
      color: $colorOrange;
    }
  }

  &__sub-header {
  }

  &__sub-caption {
    color: $colorBlack;
    //font-size: 1.5rem;
    font-size: 1.3rem;
    font-weight: 100;
  }

  &__logo-box {
    margin-left: 2.5rem;
    margin-right: 2rem;
    height: 8vh;
    width: 8vh;
  }
}

.main-wrapper {
  height: 83vh;
  //overflow: scroll;
}

//NOTE YOU HAVE TO ADJUST THE VH FOR THE MARGINS
.foot-bar {
  height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__text {
    font-size: 1.2rem;
    color: $colorBlack;
    margin-bottom: 2rem;
  }

  &__name {
    color: $colorOrange;
  }
}
